Name:           {{ .Name }}
School:         {{ .School.Name }}
Range:          {{ .Range }}
Material:       {{ .Material }}
Casting Time:   {{ .CastingTime }}
---
Find info about {{ .Name }} at https://www.dnd5eapi.co{{ .URL }}
